@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');

@font-face {
    font-family: 'Nunito Sans';
    src: url('../../fonts/NunitoSans-VariableFont.woff2') format('woff2-variations');
    src: url('../../fonts/NunitoSans-VariableFont.woff2') format('woff2') tech('variations');
    font-weight: 300 700;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../fonts/WorkSans-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../fonts/WorkSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../fonts/WorkSans-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../../fonts/WorkSans-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
